* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
}

html {
    font-size: 62.5%;
    background-color: #3c3c3c;
}

.menu-nav {
    width: 100vw;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    width: 50px;
    position: absolute;
    left: 7rem;
    top: 1.5rem;
}

.nav {
    margin: 0 auto;
    text-align: center;
}

.nav-item {
    display: inline-block;
    color: #f4f4f4;
    font-size: 2rem;
    font-weight: 400;
    padding: 0 20px;
}

.nav li:hover{
    background-color: rgba(0,255,255,0.418);
    border-radius: 5px;
}