h1 {
    color: purple;
    font-family: serif;
    margin-bottom: 10px;
}

.title {
    font-size: 18px;
    font-family: monospace;
}
.nav {
    margin-top: 10px;
    list-style-type: none;
    padding-left: 0;
}

.nav li {
    display: inline-block;
}

.nav a {
    color: #f7f7f7;
    background-color: #13a4a4;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.nav .blog {
    background-color: blue;
}
